@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
body{
    font-family:'Poppins',sans-serif;
    color: #333;
    font-weight: 500;
}
h1{
   font-size: 35px !important;
   font-weight: 700 !important;
   line-height: 35px !important;
}
h2{
  font-size: 25px !important;
  font-weight: 600 !important;  
  line-height: 25px !important;
}
h3{
font-size: 20px !important;
font-weight: 600 !important;
line-height: 20px !important;
}
h4{
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 15px !important;
}
h5{
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 20px !important;

}
.venu{
    background-image: url(../assets/images/htm.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;

}
.venu:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(200deg,transparent 40%,lightgreen);
}
.column_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.left{
  width: 50%;
  position: fixed;
  overflow: hidden;
  text-align: center;
  left: 0;
}
.right{
    width: 50%;
    position: absolute;
    right: 0;

}
.header{
    height: 100vh;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;

}
.header .content{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 10%;
    z-index: 1;

}
.header .content h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
.header .content p{
    font-size: 20px;
    color: white;
}
.header .content .social{
    display: block;
    padding: 0;
    margin: 0;
}

.header .content .social li{
    display: inline-block;
    margin: 0px 4px;
}

.header .content .social li a{
    color: white;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border: 2px solid #777;
    border-radius: 50%;
    font-size: 20px;
}

.header .content .social li a:hover{
    border-color: #ffff;
}

.section{
    padding: 35px 35px 10px 35px;

}

.section_title{
    margin-bottom: 20px;
}
h2{
    color: #444;
}
.expertise_item{
   margin-bottom: 30px;
}
.expertise_item h4{
    color: #333;
    
}
.grey_bg{
    background-color: #F9F9F9;
}
.institute{
    margin: 0px;
}
.edu{
    margin-bottom: 20px;
}
.top{
    margin-bottom: 10px;;
}
.institute{
    font-weight: 500;
}
.form-control{
    padding: 15px;
    font-size: 15px;
    border-radius: 0 !important;
    margin-bottom: 15px;
}
.btn{
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
    border-radius: 0 !important;
    background-color: #1c1ee6;
}
.footer{
    padding: 30px 30px;
    font-size: 15px;
    color: #888;
}
textarea{
    width: 100%;
}
.map{
    width: 100% !important;
    height: 100% !important;
}
@media (max-width: 600px){
    .left{
        width: 100%;
        position: relative;
    }
    .right{
        width: 100%;
        position: relative;
    }
}